@import 'tailwindcss';

@property --border-angle {
	syntax: '<angle>';
	inherits: true;
	initial-value: 0deg;
}

@view-transition {
	navigation: auto;
}

::view-transition-group(main-content) {
	animation-duration: 1000ms;
}

::view-transition-old(main-content) {
	animation-name: slide-left;
}
::view-transition-new(main-content) {
	animation-name: slide-right;
}

@keyframes slide-right {
	from {
		translate: -100% 0;
		transform: scale(0.5);
		opacity: 0;
	}
}
@keyframes slide-left {
	to {
		translate: -100% 0;
		transform: scale(0.5);
		opacity: 0;
	}
}

@keyframes spin-border {
	from {
		--border-angle: 0deg;
	}
	to {
		--border-angle: 360deg;
	}
}

@theme {
	/* LCARS color */
	--A-hue: 21.5;
	--B-hue: 47;
	--C-hue: 65;
	--D-hue: 282;
	--E-hue: 326;
	--F-hue: 155;

	/* Lightness values */
	--50-l: 99%;
	--100-l: 90%;
	--200-l: 80%;
	--300-l: 69%;
	--400-l: 61%;
	--500-l: 45%;
	--600-l: 31%;
	--700-l: 20%;
	--800-l: 9%;
	--900-l: 5%;

	/* Chroma values */
	--50-s: 0.05;
	--100-s: 0.1;
	--200-s: 0.19;
	--300-s: 0.25;
	--400-s: 0.3;
	--500-s: 0.23;
	--600-s: 0.2;
	--700-s: 0.2;
	--800-s: 0.18;
	--900-s: 0.11;

	--color-A-50: oklch(var(--50-l) var(--50-s) var(--A-hue));
	--color-A-100: oklch(var(--100-l) var(--100-s) var(--A-hue));
	--color-A-200: oklch(var(--200-l) var(--200-s) var(--A-hue));
	--color-A-300: oklch(var(--300-l) var(--300-s) var(--A-hue));
	--color-A-400: oklch(var(--400-l) var(--400-s) var(--A-hue));
	--color-A-500: oklch(var(--500-l) var(--500-s) var(--A-hue));
	--color-A-600: oklch(var(--600-l) var(--600-s) var(--A-hue));
	--color-A-700: oklch(var(--700-l) var(--700-s) var(--A-hue));
	--color-A-800: oklch(var(--800-l) var(--800-s) var(--A-hue));
	--color-A-900: oklch(var(--900-l) var(--900-s) var(--A-hue));
	--color-B-50: oklch(var(--50-l) var(--50-s) var(--B-hue));
	--color-B-100: oklch(var(--100-l) var(--100-s) var(--B-hue));
	--color-B-200: oklch(var(--200-l) var(--200-s) var(--B-hue));
	--color-B-300: oklch(var(--300-l) var(--300-s) var(--B-hue));
	--color-B-400: oklch(var(--400-l) var(--400-s) var(--B-hue));
	--color-B-500: oklch(var(--500-l) var(--500-s) var(--B-hue));
	--color-B-600: oklch(var(--600-l) var(--600-s) var(--B-hue));
	--color-B-700: oklch(var(--700-l) var(--700-s) var(--B-hue));
	--color-B-800: oklch(var(--800-l) var(--800-s) var(--B-hue));
	--color-B-900: oklch(var(--900-l) var(--900-s) var(--B-hue));
	--color-C-50: oklch(var(--50-l) var(--50-s) var(--C-hue));
	--color-C-100: oklch(var(--100-l) var(--100-s) var(--C-hue));
	--color-C-200: oklch(var(--200-l) var(--200-s) var(--C-hue));
	--color-C-300: oklch(var(--300-l) var(--300-s) var(--C-hue));
	--color-C-400: oklch(var(--400-l) var(--400-s) var(--C-hue));
	--color-C-500: oklch(var(--500-l) var(--500-s) var(--C-hue));
	--color-C-600: oklch(var(--600-l) var(--600-s) var(--C-hue));
	--color-C-700: oklch(var(--700-l) var(--700-s) var(--C-hue));
	--color-C-800: oklch(var(--800-l) var(--800-s) var(--C-hue));
	--color-C-900: oklch(var(--900-l) var(--900-s) var(--C-hue));
	--color-D-50: oklch(var(--50-l) var(--50-s) var(--D-hue));
	--color-D-100: oklch(var(--100-l) var(--100-s) var(--D-hue));
	--color-D-200: oklch(var(--200-l) var(--200-s) var(--D-hue));
	--color-D-300: oklch(var(--300-l) var(--300-s) var(--D-hue));
	--color-D-400: oklch(var(--400-l) var(--400-s) var(--D-hue));
	--color-D-500: oklch(var(--500-l) var(--500-s) var(--D-hue));
	--color-D-600: oklch(var(--600-l) var(--600-s) var(--D-hue));
	--color-D-700: oklch(var(--700-l) var(--700-s) var(--D-hue));
	--color-D-800: oklch(var(--800-l) var(--800-s) var(--D-hue));
	--color-D-900: oklch(var(--900-l) var(--900-s) var(--D-hue));
	--color-E-50: oklch(var(--50-l) var(--50-s) var(--E-hue));
	--color-E-100: oklch(var(--100-l) var(--100-s) var(--E-hue));
	--color-E-200: oklch(var(--200-l) var(--200-s) var(--E-hue));
	--color-E-300: oklch(var(--300-l) var(--300-s) var(--E-hue));
	--color-E-400: oklch(var(--400-l) var(--400-s) var(--E-hue));
	--color-E-500: oklch(var(--500-l) var(--500-s) var(--E-hue));
	--color-E-600: oklch(var(--600-l) var(--600-s) var(--E-hue));
	--color-E-700: oklch(var(--700-l) var(--700-s) var(--E-hue));
	--color-E-800: oklch(var(--800-l) var(--800-s) var(--E-hue));
	--color-E-900: oklch(var(--900-l) var(--900-s) var(--E-hue));
	--color-F-50: oklch(var(--50-l) var(--50-s) var(--F-hue));
	--color-F-100: oklch(var(--100-l) var(--100-s) var(--F-hue));
	--color-F-200: oklch(var(--200-l) var(--200-s) var(--F-hue));
	--color-F-300: oklch(var(--300-l) var(--300-s) var(--F-hue));
	--color-F-400: oklch(var(--400-l) var(--400-s) var(--F-hue));
	--color-F-500: oklch(var(--500-l) var(--500-s) var(--F-hue));
	--color-F-600: oklch(var(--600-l) var(--600-s) var(--F-hue));
	--color-F-700: oklch(var(--700-l) var(--700-s) var(--F-hue));
	--color-F-800: oklch(var(--800-l) var(--800-s) var(--F-hue));
	--color-F-900: oklch(var(--900-l) var(--900-s) var(--F-hue));

	--color-A: var(--color-A-200);
	--color-B: var(--color-B-200);
	--color-C: var(--color-C-200);
	--color-D: var(--color-D-200);
	--color-E: var(--color-E-200);
	--color-F: var(--color-F-200);
	--color-white: var(--color-F-100);
	--color-black: var(--color-A-900);

	--color-card-background: lch(from var(--color-F) l c h / 0.5);
	--color-card-border-1: lch(from var(--color-F) l c h / 0.4);
	--color-card-border-2: lch(from var(--color-F) l c h / 0.8);

	--font-oxanium: oxanium, 'sans-serif';
	--font-teko: teko, 'sans-serif';
}

@utility nav {
	@apply absolute flex flex-col items-center;
}

@utility nav-desktop {
	@apply left-[0dvw] top-[41dvh] h-[39dvh] w-[9.8dvw] gap-[1dvh];
	.nav-link {
		@apply hover:text-F-50/100 h-full grow cursor-pointer text-lg font-bold text-white/80 hover:underline xl:text-2xl;
	}
}

@utility nav-mobile {
	@apply absolute left-[3dvw] top-[20dvh] z-50 h-[67dvh] w-[90dvw] -translate-y-[150%] gap-0 overflow-clip font-extrabold uppercase;
	.nav-link {
		@apply absolute top-[-100%] h-1/5 text-2xl first:rounded-t-2xl last:rounded-b-2xl;
	}
	&.open {
		@apply translate-y-0;
		.nav-link {
			@apply nth-2:top-1/5 nth-3:top-2/5 nth-4:top-3/5 nth-5:top-4/5 first:top-0;
		}
	}
}

@utility nav-link {
	@apply duration-600 relative flex w-full items-center justify-center font-bold text-white/80 transition-all;
}

@utility nav-ham {
	@apply -translate-1/2 relative left-[88dvw] top-[14dvh] flex h-8 w-8 rotate-0 items-center justify-center bg-transparent sm:h-12 sm:w-12;
	.line {
		transition:
			y 200ms ease-out 200ms,
			rotate 200ms ease-in,
			opacity 0ms 200ms;
		transform-origin: center;
	}
	&.open {
		.line {
			transition:
				y 200ms ease-in,
				rotate 200ms ease-out 200ms,
				opacity 0ms 200ms;
		}
		.line-1 {
			y: 45;
			rotate: 45deg;
		}
		.line-2 {
			@apply opacity-0;
		}
		.line-3 {
			y: 45;
			rotate: -45deg;
		}
	}
}

html,
body {
	@apply font-oxanium h-full w-full overflow-hidden scroll-smooth bg-black font-light leading-6 tracking-widest text-white;
}

@layer components {
	main {
		view-transition-name: main-content;
	}
	p,
	b,
	span,
	li {
		@apply font-oxanium text-pretty text-base;
	}
	b {
		@apply font-bold;
	}
}

.nav__arrow {
	position: absolute;
	top: 0;
	right: -1rem;
	width: 1rem;
	height: 100%;
	clip-path: polygon(0 0, 0 50%, 0 100%);
	will-change: clip-path;
	transition: clip-path 0.3s ease-in-out;
	&.active {
		clip-path: polygon(0 0, 100% 50%, 0 100%);
	}
}

.card {
	--animation-time: attr(data-duration s, 8s);
	@apply relative isolate flex h-full max-h-[66dvh] w-full grow flex-col items-start justify-between gap-2 rounded-xl p-4 xl:gap-4;
	&::before,
	&::after {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: inherit;
		border-width: 2px;
		border-color: transparent;
		padding: 10px;
		background-image: linear-gradient(var(--color-black), var(--color-black)), conic-gradient(from var(--border-angle), var(--color-card-border-1) 90%, var(--color-card-border-2));
		background-origin: border-box;
		background-clip: padding-box, border-box;
		animation: spin-border var(--animation-time) linear infinite;
	}
	&::before {
		opacity: 50%;
	}
	&::after {
		filter: blur(0.4rem);
	}
}

#bio {
	.bio__image {
		@apply border-F/25 grayscale-80 h-fit w-1/2 rounded-lg border-2;
	}
	.bio__info {
		@apply flex h-auto w-full flex-col justify-between;
	}
	.bio__line {
		@apply flex justify-between p-2 align-middle lg:flex-col lg:text-right;
		p {
			@apply text-right;
		}
	}
	.bio__divider {
		@apply border-F/25 border-t-2 border-dotted;
	}

	.bio__copy {
		@apply my-2 overflow-x-clip overflow-y-scroll py-2;
		p {
			@apply text-pretty text-lg leading-8 tracking-wide md:text-xl;
		}
	}
}

#skills {
	.skills__actions {
		@apply sticky top-0 z-10 flex flex-row items-center justify-around gap-4 bg-black pb-4;
		.skill__action {
			@apply flex flex-row items-center gap-4;
			label {
				@apply text-F/50 text-sm font-bold uppercase tracking-widest;
				&:hover {
					@apply text-F/80;
				}
			}
			select {
				@apply bg-F/10 border-F/20 text-F/50 h-full w-full cursor-pointer border-2 p-1 font-bold uppercase tracking-widest;
				&:focus {
					@apply border-F/50 outline-none;
				}
				option {
					@apply text-F/50;
				}
			}
		}
	}
	.skills__body {
		@apply h-full overflow-clip overflow-y-scroll;
		.skill {
			@apply my-2;
			.skill__container {
				@apply bg-F/25 mask-clip-padding w-full p-1;
			}
			.skill__bar {
				@apply px-4 py-2 text-right opacity-80;
			}
			.skill__percent {
				@apply text-F-50/100 text-shadow-sm font-bold opacity-100;
			}
		}
	}
}

#history {
	.history__card {
		@apply h-fit;
		.history__list {
			@apply ml-4 flex h-full w-full list-outside list-disc flex-col justify-between gap-4;
			.history__item {
				@apply text-base tracking-wide;
			}
		}
	}
}

#projects {
	.project__card {
		.project__link {
			@apply text-F/50 decoration-F/20 hover:text-F-50/100 underline underline-offset-2 transition-all duration-300;
		}
		.project__body {
			@apply flex flex-col items-center gap-4 xl:flex-row xl:justify-between;
			.project__image {
				@apply h-auto w-full xl:w-1/2;
			}
			.project__description {
				@apply h-auto w-full xl:w-1/2;
			}
		}
	}
}

form {
	@apply flex h-full w-full flex-col gap-4;
	.contact__inputs {
		@apply col-span-1 flex h-full w-full flex-col gap-8;
		.contact__group {
			@apply justify-center first:justify-start last:justify-end;
		}
	}
	.contact__area {
		@apply col-span-1 h-full w-full;
		textarea {
			@apply h-full resize-none;
		}
	}
	.contact__group {
		@apply flex h-full w-full flex-col gap-2;
		input,
		textarea {
			@apply border-F/20 bg-F/10 w-full border-2 px-2 py-1 focus:outline-none;

			&:user-valid {
				@apply border-F/50;
			}
			&:user-invalid {
				@apply border-A/50;
			}
			&:focus:invalid {
				@apply border-B/50;
			}
		}

		&.error {
			@apply text-A/80;
			input,
			textarea {
				@apply border-A/50;
			}
		}
		.error-message {
			@apply text-A/50 text-sm;
		}
	}

	.contact__actions {
		@apply col-span-1 flex h-full w-1/2 items-center self-end py-4 lg:col-start-2;
		.contact__button {
			@apply bg-F/20 border-F/25 text-F/50 h-full w-full cursor-pointer border-2 font-bold uppercase tracking-widest transition-all duration-300;
			&.loading {
				@apply cursor-not-allowed opacity-50;
			}
			&:hover {
				@apply bg-F/30;
			}
			&:active {
				@apply bg-F/40;
			}
		}
	}
}
